<!-- fichier: templates/formulaire_authentification_user.html -->
<!doctype html>
<html>
  <head>
    <title>Authentification utilisateur</title>
  </head>
  <body>
    <h2>Authentification utilisateur</h2>
    <form method="post">
      <label for="username">Nom d'utilisateur:</label>
      <input type="text" id="username" name="username"><br>
      <label for="password">Mot de passe:</label>
      <input type="password" id="password" name="password"><br>
      <label for="nom">Nom du client:</label>
      <input type="text" id="nom" name="nom"><br>
      <input type="submit" value="Se connecter">
    </form>
    {% if error %}
      <p style="color: red;">Nom d'utilisateur ou mot de passe incorrect</p>
    {% endif %}
  </body>
</html>
